<div class="pokemon-guessing">
  <h2>Devinez le nom de ce Pokémon:</h2>
  <img [src]="pokemon?.sprites.front_default" alt="{{pokemon?.name}}">
  <div class="guess">
    <input type="text" [(ngModel)]="guess" placeholder="Entrez le nom ici">
    <button (click)="checkGuess()">Soumettre</button>
  </div>
  <div class="result" *ngIf="isCorrect">
    <p>Bravo, vous avez deviné!</p>
    <button (click)="nextPokemon()">Suivant</button>
  </div>
  <div class="result" *ngIf="!isCorrect">Désolé, essayez encore!</div> 
</div>
